flows.json
[
    {
        "id": "544c0459fb0bbe2a",
        "type": "inject",
        "z": "bcfe2758e1eb89f6",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "215c5358b1d8dceb",
                "e643a37598c00087",
                "451668bac3358b7e"
            ]
        ]
    },
    {
        "id": "1717c5b2d975a4c4",
        "type": "comment",
        "z": "bcfe2758e1eb89f6",
        "name": "Smart Farm (Corn)",
        "info": "",
        "x": 110,
        "y": 280,
        "wires": []
    },
    {
        "id": "215c5358b1d8dceb",
        "type": "random",
        "z": "bcfe2758e1eb89f6",
        "name": "Soil Moisture Sensor (40 - 80%)",
        "low": "40",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "dfd725a9c6c0c9d9",
                "fd03095eed7055b6",
                "97ad2839daffdb2a",
                "8e703cb54155b0cc"
            ]
        ]
    },
    {
        "id": "e643a37598c00087",
        "type": "random",
        "z": "bcfe2758e1eb89f6",
        "name": "Air Temperature Sensor (20-30℃)",
        "low": "20",
        "high": "30",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "dd4fc7721002998c",
                "9c6b3f8233247d2e",
                "5d1b9f2c17f5753c",
                "bfa62534311f3c7d"
            ]
        ]
    },
    {
        "id": "451668bac3358b7e",
        "type": "random",
        "z": "bcfe2758e1eb89f6",
        "name": "Light Intensity Sensor (500 - 1000 lux)",
        "low": "500",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 480,
        "wires": [
            [
                "1c9ac77de0cb2665",
                "f0460af48c2f5c79",
                "3fa2d8194c3069ed"
            ]
        ]
    },
    {
        "id": "dfd725a9c6c0c9d9",
        "type": "mqtt out",
        "z": "bcfe2758e1eb89f6",
        "name": "",
        "topic": "smartfarm/soilmoisture",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "dd4fc7721002998c",
        "type": "mqtt out",
        "z": "bcfe2758e1eb89f6",
        "name": "",
        "topic": "smartfarm/airtemperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "1c9ac77de0cb2665",
        "type": "mqtt out",
        "z": "bcfe2758e1eb89f6",
        "name": "",
        "topic": "smartfarm/lightintensity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "fd03095eed7055b6",
        "type": "ui_text",
        "z": "bcfe2758e1eb89f6",
        "group": "8a1a6b318e740c51",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Soil Moisture Sensor",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "9c6b3f8233247d2e",
        "type": "ui_text",
        "z": "bcfe2758e1eb89f6",
        "group": "8a1a6b318e740c51",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air Temperature Sensor",
        "format": "{{msg.payload}}℃",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "f0460af48c2f5c79",
        "type": "ui_text",
        "z": "bcfe2758e1eb89f6",
        "group": "8a1a6b318e740c51",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light Intensity Sensor",
        "format": "{{msg.payload}} lux",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "97ad2839daffdb2a",
        "type": "debug",
        "z": "bcfe2758e1eb89f6",
        "name": "Soil Moisture Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d1b9f2c17f5753c",
        "type": "debug",
        "z": "bcfe2758e1eb89f6",
        "name": "Air Temperature Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "67932a1ed5bbefd4",
        "type": "debug",
        "z": "bcfe2758e1eb89f6",
        "name": "Light Intensity Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 480,
        "wires": []
    },
    {
        "id": "8e703cb54155b0cc",
        "type": "ui_chart",
        "z": "bcfe2758e1eb89f6",
        "name": "",
        "group": "8a1a6b318e740c51",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Soil Moisture Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "97ad2839daffdb2a"
            ]
        ]
    },
    {
        "id": "bfa62534311f3c7d",
        "type": "ui_chart",
        "z": "bcfe2758e1eb89f6",
        "name": "",
        "group": "8a1a6b318e740c51",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Air Temperature Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "5d1b9f2c17f5753c"
            ]
        ]
    },
    {
        "id": "3fa2d8194c3069ed",
        "type": "ui_chart",
        "z": "bcfe2758e1eb89f6",
        "name": "",
        "group": "8a1a6b318e740c51",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Light Intensity Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 480,
        "wires": [
            [
                "67932a1ed5bbefd4"
            ]
        ]
    },
    {
        "id": "407a01e4.6b637",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8a1a6b318e740c51",
        "type": "ui_group",
        "name": "UAS",
        "tab": "2968c7d7c516d60d",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2968c7d7c516d60d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]