flows.json
[
    {
        "id": "341f1be62725959b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "407a01e4.6b637",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "149eb5e96f301b0a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Factory System",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 5,
                "gy": 5,
                "cx": 5,
                "cy": 5,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2968c7d7c516d60d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "727660ac399984c1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "475ea728204e5891",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1d3f7870c913018a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a9a29b04d85c21da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "45e3812c2cbb75bb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5d64108032296d0f",
        "type": "ui_group",
        "name": "Susu Hewani dan Telur",
        "tab": "2968c7d7c516d60d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3d78d40e094eb74",
        "type": "ui_group",
        "name": "Daging Merah",
        "tab": "2968c7d7c516d60d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf0b7ed76efdb88e",
        "type": "ui_group",
        "name": "Daging Putih",
        "tab": "2968c7d7c516d60d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04a497a8847d7af1",
        "type": "ui_group",
        "name": "Sumber Karbohidrat",
        "tab": "2968c7d7c516d60d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a963221bc9d0042",
        "type": "ui_group",
        "name": "Sayuran",
        "tab": "2968c7d7c516d60d",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "83185fba5f3f8852",
        "type": "ui_group",
        "name": "Buah - buahan",
        "tab": "2968c7d7c516d60d",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "089ec42f19298a5d",
        "type": "ui_group",
        "name": "Deteksi Musim",
        "tab": "2968c7d7c516d60d",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2eb1c4798f2d08a2",
        "type": "ui_group",
        "name": "Deteksi Hasil Penjualan Berfluktuasi",
        "tab": "2968c7d7c516d60d",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3127bef2194fd2e",
        "type": "ui_group",
        "name": "Deteksi Jumlah Pengunjung Restoran",
        "tab": "2968c7d7c516d60d",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d061baa5ac89f31",
        "type": "inject",
        "z": "341f1be62725959b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "4161e1c6e7485d4a",
                "bf52addfd7dbf59c",
                "5979660d96b34ce5",
                "18ab880948c0f463",
                "4c38a4ebe3990737",
                "9e2b433915b2dd7e",
                "1fd1f2c49a3c7d13",
                "a5d0108f12b5d6f8",
                "50245dbe494a4e2d",
                "4172036c4c4d22dd",
                "a3c7208be4436399",
                "194ee99c049827f0",
                "6974d95fed334b1c",
                "9755bc544f2a4c20",
                "77ad12006d916445",
                "962776bfb9d7a103",
                "829315c1199ee1ab",
                "8abf7db8ba6dbfc5",
                "31c8a0d44c0317a1",
                "53cda917e4fc6a32",
                "7ef462bac4b3ad6c",
                "8b3fd26c19f5e6cd",
                "58f5ded638f291ff",
                "7168886260c2d87f",
                "ee263fbbecde7364",
                "6f6aaeaf8cea90af",
                "7cd1be535f512f60"
            ]
        ]
    },
    {
        "id": "fad92d381a60a596",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Smart Farm",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "4161e1c6e7485d4a",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu (-50 - 150 ℃)",
        "low": "-50",
        "high": "150",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "fbbad36ad1a1b93d",
                "eb78020b16da18b4",
                "95e299d536ccfd21"
            ]
        ]
    },
    {
        "id": "bf52addfd7dbf59c",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "ad888bbb2f568a03",
                "d07e2cb1d541b7e8",
                "405558fb5417d469"
            ]
        ]
    },
    {
        "id": "5979660d96b34ce5",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor pH (0 - 14 pH)",
        "low": "0",
        "high": "14",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "780cd4ce53749622",
                "d66733948aa56a54",
                "1a9d754ff1371524"
            ]
        ]
    },
    {
        "id": "1866d53c5f4f2d14",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Susu Hewani dan Telur",
        "info": "",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "fbbad36ad1a1b93d",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "susuhewanidantelur/sensorsuhu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "ad888bbb2f568a03",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "susuhewanidantelur/sensorkelembapan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "780cd4ce53749622",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "susuhewanidantelur/sensorph",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "eb78020b16da18b4",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "405558fb5417d469",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 200,
        "wires": []
    },
    {
        "id": "1a9d754ff1371524",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor pH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "d07e2cb1d541b7e8",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "5d64108032296d0f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kelembapan",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "d66733948aa56a54",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "5d64108032296d0f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pH",
        "format": "{{msg.payload}} pH",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "022fbb7ef8d0014e",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Daging Merah",
        "info": "",
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "18ab880948c0f463",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Oksigen (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "798dd631551e98a0",
                "c69d9b0ee25f2284",
                "f9aadb8b6af2e9c4"
            ]
        ]
    },
    {
        "id": "4c38a4ebe3990737",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Garam (0 - 5%)",
        "low": "0",
        "high": "5",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "45badf40441a87c0",
                "a9decb9f56caa25e",
                "2bdf8f09f1296164"
            ]
        ]
    },
    {
        "id": "9e2b433915b2dd7e",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Lemak (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "9348b0e4f1ebc3cf",
                "cd2ce653a8bac431",
                "93bdef8b149ecf08"
            ]
        ]
    },
    {
        "id": "45badf40441a87c0",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingmerah/sensorkadrgaram",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "9348b0e4f1ebc3cf",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingmerah/sensorkadarlemak",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "f9aadb8b6af2e9c4",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Oksigen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "2bdf8f09f1296164",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Garam",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "93bdef8b149ecf08",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Lemak",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 520,
        "wires": []
    },
    {
        "id": "a9decb9f56caa25e",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "d3d78d40e094eb74",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Garam",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "cd2ce653a8bac431",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "d3d78d40e094eb74",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Lemak",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "e1dd5c01de31e41d",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Daging Putih",
        "info": "",
        "x": 270,
        "y": 600,
        "wires": []
    },
    {
        "id": "1fd1f2c49a3c7d13",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Sodium (0 - 100 mg)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "3efca5bb77118b68",
                "9132751961fd8eb5",
                "865502102aadeda2"
            ]
        ]
    },
    {
        "id": "a5d0108f12b5d6f8",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Protein (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 720,
        "wires": [
            [
                "aaf80c0d98527394",
                "c044810662bd377a",
                "e0b028f130db9902"
            ]
        ]
    },
    {
        "id": "50245dbe494a4e2d",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Gula (0 - 10%)",
        "low": "0",
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 780,
        "wires": [
            [
                "d6a3b1e11c5d7fad",
                "cd97ba609b058f5b",
                "8d95e5eacfa4d871"
            ]
        ]
    },
    {
        "id": "3efca5bb77118b68",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingputih/sensorkadarsodium",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "aaf80c0d98527394",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingputih/sensorkadarprotein",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "d6a3b1e11c5d7fad",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingputih/sensorkadargula",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "865502102aadeda2",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Sodium",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "e0b028f130db9902",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Protein",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 720,
        "wires": []
    },
    {
        "id": "8d95e5eacfa4d871",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Gula",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 780,
        "wires": []
    },
    {
        "id": "9132751961fd8eb5",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "cf0b7ed76efdb88e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Sodium",
        "format": "{{msg.payload}} mg",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 660,
        "wires": []
    },
    {
        "id": "c044810662bd377a",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "cf0b7ed76efdb88e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Protein",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 720,
        "wires": []
    },
    {
        "id": "cd97ba609b058f5b",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "cf0b7ed76efdb88e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Gula",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "95e299d536ccfd21",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "5d64108032296d0f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Suhu",
        "format": "{{msg.payload}} ℃",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "798dd631551e98a0",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingmerah/sensoroksigen",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "c69d9b0ee25f2284",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "d3d78d40e094eb74",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oksigen",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "4172036c4c4d22dd",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan Tanah (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "e2b92bec59770dad",
                "d7e322aa5388830c",
                "e55238afb2c7f2fe"
            ]
        ]
    },
    {
        "id": "a3c7208be4436399",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Intensi Cahaya (0 - 10.000 lux)",
        "low": "0",
        "high": "10000",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "1a1fdab04be8c101",
                "35b8eff231ee21f2",
                "7835ecb08c407cdb"
            ]
        ]
    },
    {
        "id": "194ee99c049827f0",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu Udara (-40 - 80 ℃)",
        "low": "-40",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "44f5fdfebad8c27a",
                "94591b37c804ab43",
                "32badc7a5789ac51"
            ]
        ]
    },
    {
        "id": "09199fd042f430fa",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Sumber Karbohidrat: Beras, Gandum, dan Jagung",
        "info": "",
        "x": 390,
        "y": 900,
        "wires": []
    },
    {
        "id": "e2b92bec59770dad",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sensorkarbohidrat/kelembapantanah",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 690,
        "y": 960,
        "wires": []
    },
    {
        "id": "1a1fdab04be8c101",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sensorkarbohidrat/intensicahaya",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 680,
        "y": 1020,
        "wires": []
    },
    {
        "id": "44f5fdfebad8c27a",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sensorkarbohidrat/suhuudara",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d7e322aa5388830c",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan Tanah",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 960,
        "wires": []
    },
    {
        "id": "7835ecb08c407cdb",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Intensi Cahaya",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1020,
        "wires": []
    },
    {
        "id": "32badc7a5789ac51",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu Udara",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1080,
        "wires": []
    },
    {
        "id": "35b8eff231ee21f2",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "04a497a8847d7af1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Intensi Cahaya",
        "format": "{{msg.payload}} lux",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 1020,
        "wires": []
    },
    {
        "id": "94591b37c804ab43",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "04a497a8847d7af1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Suhu Udara",
        "format": "{{msg.payload}} ℃",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 1080,
        "wires": []
    },
    {
        "id": "98d4e8a1cce63f99",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Sayuran",
        "info": "",
        "x": 260,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6974d95fed334b1c",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu Tanah (-40 - 100 ℃)",
        "low": "-40",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1220,
        "wires": [
            [
                "3ee95cde57aa4ed5",
                "a601611f578cb1ce",
                "83923db13667e0f2"
            ]
        ]
    },
    {
        "id": "9755bc544f2a4c20",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan udara (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 1280,
        "wires": [
            [
                "e7cf4459bae871d4",
                "bad4b01dee8de260",
                "2d0b98cbfa05cfca"
            ]
        ]
    },
    {
        "id": "77ad12006d916445",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Co2 (0 - 5000 ppm)",
        "low": 1,
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1340,
        "wires": [
            [
                "711489860ce0357a",
                "41c1b4873900f7c8",
                "cd39a7483491496b"
            ]
        ]
    },
    {
        "id": "e7cf4459bae871d4",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sayuran/sensorkelembapanudara",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 680,
        "y": 1280,
        "wires": []
    },
    {
        "id": "711489860ce0357a",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sayuran/sensorkadarco2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 630,
        "y": 1340,
        "wires": []
    },
    {
        "id": "83923db13667e0f2",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu Tanah",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1220,
        "wires": []
    },
    {
        "id": "2d0b98cbfa05cfca",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan Udara",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1280,
        "wires": []
    },
    {
        "id": "cd39a7483491496b",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Co2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1340,
        "wires": []
    },
    {
        "id": "bad4b01dee8de260",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "0a963221bc9d0042",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kelembapan Udara",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 1280,
        "wires": []
    },
    {
        "id": "41c1b4873900f7c8",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "0a963221bc9d0042",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Co2",
        "format": "{{msg.payload}} ppm",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 1340,
        "wires": []
    },
    {
        "id": "fef6846a4c407fe3",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Buah-buahan",
        "info": "",
        "x": 270,
        "y": 1420,
        "wires": []
    },
    {
        "id": "962776bfb9d7a103",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kecepatan Angin (0 - 50 m/s)",
        "low": 1,
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 1480,
        "wires": [
            [
                "b4cbfad988ce0fd7",
                "4727c7b1b16b1da6",
                "33c80899ec94a789"
            ]
        ]
    },
    {
        "id": "829315c1199ee1ab",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Curah Hujan (0 - 200 mm)",
        "low": "0",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1540,
        "wires": [
            [
                "ac49c16d2e13de65",
                "1efbb4cf443fbb14",
                "ab7302bf263225d1"
            ]
        ]
    },
    {
        "id": "8abf7db8ba6dbfc5",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kualitas Air (0 - 300 pH)",
        "low": "0",
        "high": "300",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 1600,
        "wires": [
            [
                "945d784451559ac0",
                "f52ab44af7f17fae",
                "980edd5f7a818868"
            ]
        ]
    },
    {
        "id": "b4cbfad988ce0fd7",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "buah/sensorkecepatanangin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 660,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ac49c16d2e13de65",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "buah/sensorcurahhujan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 630,
        "y": 1540,
        "wires": []
    },
    {
        "id": "945d784451559ac0",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "buah/sensorkualitasair",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 600,
        "y": 1600,
        "wires": []
    },
    {
        "id": "33c80899ec94a789",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Kecepatan Angin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ab7302bf263225d1",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Curah Hujan",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1540,
        "wires": []
    },
    {
        "id": "980edd5f7a818868",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Kualitas Air",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1600,
        "wires": []
    },
    {
        "id": "4727c7b1b16b1da6",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "83185fba5f3f8852",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kecepatan Angin",
        "format": "{{msg.payload}}m/s",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 1480,
        "wires": []
    },
    {
        "id": "1efbb4cf443fbb14",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "83185fba5f3f8852",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Curah Hujan",
        "format": "{{msg.payload}}mm",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 1540,
        "wires": []
    },
    {
        "id": "f52ab44af7f17fae",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "83185fba5f3f8852",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kualitas Air",
        "format": "{{msg.payload}}pH",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 1600,
        "wires": []
    },
    {
        "id": "e55238afb2c7f2fe",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "04a497a8847d7af1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kelembapan Tanah",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 960,
        "wires": []
    },
    {
        "id": "3ee95cde57aa4ed5",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sayuran/suhutanah",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 610,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a601611f578cb1ce",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "0a963221bc9d0042",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Suhu Tanah",
        "format": "{{msg.payload}} ℃",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 1220,
        "wires": []
    },
    {
        "id": "52d725d44230458f",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Smart Plantation",
        "info": "",
        "x": 240,
        "y": 860,
        "wires": []
    },
    {
        "id": "31c8a0d44c0317a1",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Barometer (300 - 1100 hPa)",
        "low": "300",
        "high": "1100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 1780,
        "wires": [
            [
                "bf62d8963e0c3faa",
                "a51360c68f186555",
                "5abf58fea155e7d9"
            ]
        ]
    },
    {
        "id": "53cda917e4fc6a32",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Ketebalan Awan (0 - 10 okta)",
        "low": "0",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 1840,
        "wires": [
            [
                "60c1c0128c882543",
                "dcc36047064f3e72",
                "8ecb14a07b5b8bb7"
            ]
        ]
    },
    {
        "id": "7ef462bac4b3ad6c",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Radiasi Surya (0 - 2000W/m^2)",
        "low": "0",
        "high": "2000",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 1900,
        "wires": [
            [
                "95b107738bfba3d2",
                "2dccb1202d8748ba",
                "bdbe922577329e0e"
            ]
        ]
    },
    {
        "id": "8410b0cb897ce4fa",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Deteksi Musim",
        "info": "",
        "x": 280,
        "y": 1720,
        "wires": []
    },
    {
        "id": "bf62d8963e0c3faa",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "musim/barometer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 630,
        "y": 1780,
        "wires": []
    },
    {
        "id": "60c1c0128c882543",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "musim/ketebalanawan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 640,
        "y": 1840,
        "wires": []
    },
    {
        "id": "95b107738bfba3d2",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "musim/radiasisurya",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 1900,
        "wires": []
    },
    {
        "id": "a51360c68f186555",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Barometer ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1780,
        "wires": []
    },
    {
        "id": "8ecb14a07b5b8bb7",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Ketebalan Awan",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1840,
        "wires": []
    },
    {
        "id": "bdbe922577329e0e",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Radiasi Surya",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1900,
        "wires": []
    },
    {
        "id": "dcc36047064f3e72",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "089ec42f19298a5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ketebalan Awan",
        "format": "{{msg.payload}} okta",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 1840,
        "wires": []
    },
    {
        "id": "2dccb1202d8748ba",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "089ec42f19298a5d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Radiasi Surya",
        "format": "{{msg.payload}} W/m^2",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 1900,
        "wires": []
    },
    {
        "id": "2b264f7fed1083b4",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Deteksi Hasil Penjualan Berfluktuasi",
        "info": "",
        "x": 340,
        "y": 1980,
        "wires": []
    },
    {
        "id": "8b3fd26c19f5e6cd",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Cancel Order (0-100 order)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 2040,
        "wires": [
            [
                "3c85ca8fc4ef1ef2",
                "ea30e6be35cf8df2",
                "c0c6265260a8c23c"
            ]
        ]
    },
    {
        "id": "58f5ded638f291ff",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Penilaian (1 - 5⭐)",
        "low": "1",
        "high": "5",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 2100,
        "wires": [
            [
                "7d8c44c8e4450d7b",
                "02408c07e209c548",
                "6b54c2aa51437299"
            ]
        ]
    },
    {
        "id": "7168886260c2d87f",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Jumlah Pesanan (0 - 10000 menu)",
        "low": 1,
        "high": "10000",
        "inte": "true",
        "property": "payload",
        "x": 390,
        "y": 2160,
        "wires": [
            [
                "94faed01f918f8ac",
                "2b7694e4a386c0ae",
                "da52d3947fb34995"
            ]
        ]
    },
    {
        "id": "7d8c44c8e4450d7b",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "hasilpenjualanberfluktuasi/penilaian",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 630,
        "y": 2100,
        "wires": []
    },
    {
        "id": "94faed01f918f8ac",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "hasilpenjualanberfluktuasi/jumlahpesanan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 750,
        "y": 2160,
        "wires": []
    },
    {
        "id": "c0c6265260a8c23c",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Cancel Order",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 2040,
        "wires": []
    },
    {
        "id": "6b54c2aa51437299",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Penilaian",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 2100,
        "wires": []
    },
    {
        "id": "da52d3947fb34995",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Jumlah Pesanan",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 2160,
        "wires": []
    },
    {
        "id": "02408c07e209c548",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "2eb1c4798f2d08a2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Penilaian",
        "format": "{{msg.payload}} ⭐",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 2100,
        "wires": []
    },
    {
        "id": "2b7694e4a386c0ae",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "2eb1c4798f2d08a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Jumlah Pesanan",
        "format": "{{msg.payload}} menu",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 2160,
        "wires": []
    },
    {
        "id": "412f9acebce56f31",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Deteksi Jumlah Pengunjung Restoran",
        "info": "",
        "x": 350,
        "y": 2240,
        "wires": []
    },
    {
        "id": "ee263fbbecde7364",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Pendeteksi Gerakan(0 - 500 orang)",
        "low": "0",
        "high": "500",
        "inte": "true",
        "property": "payload",
        "x": 390,
        "y": 2300,
        "wires": [
            [
                "3c92dfb1fd07d776",
                "991c4644c3f0b29b",
                "82e6c4fd34ad3330"
            ]
        ]
    },
    {
        "id": "6f6aaeaf8cea90af",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Meja Kosong (0 - 100 meja)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 2360,
        "wires": [
            [
                "90af987b1eb90bc5",
                "de192f4d84620bcd",
                "dfc11c80113cd1f8"
            ]
        ]
    },
    {
        "id": "7cd1be535f512f60",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kebisingan (45 - 50 dB)",
        "low": "45",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 2420,
        "wires": [
            [
                "c382ef0094581e5c",
                "b2daeef3a1b3e14a",
                "7a17e3c93512a772"
            ]
        ]
    },
    {
        "id": "3c92dfb1fd07d776",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "jumlahpengunjungrestoran/pendeteksigerakan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 760,
        "y": 2300,
        "wires": []
    },
    {
        "id": "90af987b1eb90bc5",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "jumlahpengunjungrestoran/mejakosong",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 700,
        "y": 2360,
        "wires": []
    },
    {
        "id": "c382ef0094581e5c",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "jumlahpengunjungrestoran/kebisingan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 2420,
        "wires": []
    },
    {
        "id": "82e6c4fd34ad3330",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Pendeteksi Gerakan",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 2300,
        "wires": []
    },
    {
        "id": "dfc11c80113cd1f8",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Meja Kosong",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 2360,
        "wires": []
    },
    {
        "id": "7a17e3c93512a772",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kebisingan",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 2420,
        "wires": []
    },
    {
        "id": "991c4644c3f0b29b",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "c3127bef2194fd2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pendeteksi Gerakan",
        "format": "{{msg.payload}}orang",
        "layout": "row-spread",
        "className": "",
        "x": 1060,
        "y": 2300,
        "wires": []
    },
    {
        "id": "de192f4d84620bcd",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "c3127bef2194fd2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Meja Kosong",
        "format": "{{msg.payload}}meja",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 2360,
        "wires": []
    },
    {
        "id": "b2daeef3a1b3e14a",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "c3127bef2194fd2e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kebisingan ",
        "format": "{{msg.payload}}dB",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 2420,
        "wires": []
    },
    {
        "id": "5abf58fea155e7d9",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "089ec42f19298a5d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Barometer ",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 1780,
        "wires": []
    },
    {
        "id": "3c85ca8fc4ef1ef2",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "hasilpenjualanberfluktuasi/cancelorder",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 670,
        "y": 2040,
        "wires": []
    },
    {
        "id": "ea30e6be35cf8df2",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "2eb1c4798f2d08a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cancel Order",
        "format": "{{msg.payload}} order",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 2040,
        "wires": []
    },
    {
        "id": "890465e08f0b20b9",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Smart Restaurant",
        "info": "",
        "x": 250,
        "y": 1680,
        "wires": []
    }
]